# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.log

# Virtual environments
venv/
**/venv/

# Playwright output
playwright-*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Data files
